In [5]:
import numpy as np
import time
import re
import scipy
import pandas as pd
import pickle

from skimpy import skim

In [61]:
with open('/home/mahyar/test/arr.np', 'rb') as file:
    x = np.load(file)

In [11]:
df = pd.DataFrame(x, columns=known_encodings.keys())
df.index += 1

In [62]:
with open("/home/mahyar/test/PICS.PICKLE", "rb") as file:
    known_encodings = pickle.load(file)

In [199]:
def show_names(
    array: np.ndarray,
    encodings: dict[str, list[np.ndarray]],
) -> None:
    for line in array:
        result = " ".join(np.where(line, list(encodings.keys()), "")).strip()
        result = re.sub(r"\s\s+", ", ", result)
        if not result:
            result = None
        print("->", result)

In [59]:

def pretty_time(sec: int) -> str:
    return time.strftime("%H:%M:%S", time.gmtime(sec))


def make_df(data: np.ndarray, cols: list[str]) -> pd.DataFrame:
    return pd.DataFrame(data, columns=cols)


def generate_time_intervals(
    series: pd.Series, rolling_window: int = 5, threshold: int = 2
) -> list[tuple[int, int]]:
    assert rolling_window >= threshold, "rolling_window must be greater than threshold"

    ser = series.rolling(rolling_window).sum().map(lambda x: x >= threshold)

    idx = ser[ser].index.to_series()
    return (
        idx.groupby(idx.diff().ne(1).cumsum())
        .agg(["first", "last"])
        .loc[lambda df_: (df_["last"] - df_["first"]) >= rolling_window]
        .apply({'first': lambda x: max(0, x - rolling_window + threshold), 'last': lambda x: max(0, x - rolling_window)})
        .applymap(pretty_time)
        .apply(tuple, 1)
        .tolist()
    )


def generate_json(
    file: pathlib.Path,
    data: np.ndarray,
    cols: list[str],
    rolling_window: int = 5,
    threshold: int = 2,
) -> None:
    (
        make_df(data, cols)
        .apply(lambda ser: generate_time_intervals(ser, rolling_window, threshold))
        .to_json(file, indent=4),
    )

In [63]:
generate_json(pathlib.Path('/home/mahyar/test/2/result.json'), x, list(known_encodings.keys()))

In [26]:
generate_time_intervals(df.iloc[:, 1])

[('00:05:02', '00:05:20'),
 ('00:05:28', '00:05:39'),
 ('00:09:08', '00:09:13'),
 ('00:17:04', '00:17:11'),
 ('00:21:36', '00:21:42'),
 ('00:34:22', '00:34:32'),
 ('00:34:39', '00:34:46'),
 ('00:36:17', '00:36:22'),
 ('00:37:14', '00:37:23'),
 ('00:37:45', '00:37:51'),
 ('00:42:31', '00:42:36'),
 ('00:42:38', '00:42:46'),
 ('00:45:18', '00:45:23'),
 ('00:47:20', '00:47:26'),
 ('00:47:30', '00:47:36')]

In [41]:
df.apply({'Hoseyn Alaei': lambda x: x})

      Hoseyn Alaei
1            False
2            False
3            False
4            False
5            False
...            ...
3359         False
3360         False
3361         False
3362         False
3363         False

[3363 rows x 1 columns]

In [40]:
df

,Mohammad-Reza Pahlavi,Hoseyn Alaei,Mohsen Rafighdoost,Saddam Hussein,Mohammad-Esmaeil Kowsari,Hassan Rouhani,Mohsen Rezaei,Jimmy Carter,Ali Shamkhani,Ali Khamenei,Mohammad-Javad Larijani,Akbar Rafsanjani,Ali Sayyad Shirazi,Ali Fazli,Rohollah Khomeyni,Ronald Reagan,Margaret Thatcher
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3359,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3360,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3361,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3362,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3363,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [52]:
332 - 327

5